<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>framework</title>
<link href="css/css.css" media="all" type="text/css" rel="stylesheet" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/freamwork.css" media="all" type="text/css" rel="stylesheet" >
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/framework.js"></script>
</head>

<body>
<div class="maincontainer-fluid show-grid">
      <div class="row">
        <div class="gridcol grid-12">Grid 12</div>
      </div>
      <div class="row">
        <div class="gridcol grid-6 ">Grid 6</div>
        <div class="gridcol grid-6">Grid 6</div>
      </div>
      <div class="row">
        <div class="gridcol grid-4">Grid 4</div>
        <div class="gridcol grid-4">Grid 4</div>
        <div class="gridcol grid-4">Grid 4</div>
      </div>
       <div class="row">
        <div class="gridcol grid-3">Grid 3</div>
        <div class="gridcol grid-3">Grid 3</div>
        <div class="gridcol grid-3">Grid 3</div>
        <div class="gridcol grid-3">Grid 3</div>
      </div>
      <div class="row">
        <div class="gridcol grid-2">Grid 2</div>
        <div class="gridcol grid-2">Grid 2</div>
        <div class="gridcol grid-2">Grid 2</div>
        <div class="gridcol grid-2">Grid 2</div>
        <div class="gridcol grid-2">Grid 2</div>
        <div class="gridcol grid-2">Grid 2</div>
      </div>
      <div class="row">
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
        <div class="gridcol grid-1">Grid 1</div>
      </div>
      
      <div class="row">
          <div class="gridcol grid-10">Grid 10</div>
          <div class="gridcol grid-2">Grid 2</div>
      </div>
      <div class="row">
          <div class="gridcol grid-1">Grid 1</div>
          <div class="gridcol grid-11">Grid 11</div>
      </div>
      <div class="row">
          <div class="gridcol grid-2">Grid 2</div>
          <div class="gridcol grid-10">Grid 10</div>
      </div>
      <div class="row">
          <div class="gridcol grid-3">Grid 3</div>
          <div class="gridcol grid-9">Grid 9</div>
      </div>
      <div class="row">
          <div class="gridcol grid-4">Grid 4</div>
          <div class="gridcol grid-8">Grid 8</div>
      </div>
       <div class="row">
          <div class="gridcol grid-5">Grid 5</div>
          <div class="gridcol grid-7">Grid 7</div>
        </div>
        
        <div class="row">
          <div class="gridcol grid-2">Grid 2</div>
          <div class="gridcol grid-8">Grid 8</div>
          <div class="gridcol grid-2">Grid 2</div>
       </div>
       <div class="row">
          <div class="gridcol grid-3">Grid 3</div>
          <div class="gridcol grid-7">Grid 7</div>
          <div class="gridcol grid-2">Grid 2</div>
       </div>
        <div class="row">
          <div class="gridcol grid-3">Grid 3</div>
          <div class="gridcol grid-6">Grid 6</div>
          <div class="gridcol grid-3">Grid 3</div>
       </div>
       <div class="row">
          <div class="gridcol grid-4">Grid 4</div>
          <div class="gridcol grid-6">Grid 6</div>
          <div class="gridcol grid-2">Grid 3</div>
       </div>
    </div>
  

</body>
</html>
