body {
    margin: 0;
    padding: 0;
    font: 14px/18px Helvetica Neue, Helvetica, Arial, " sans-serif"
}

.layoutoptionleft {
    display: block;
    /*position: fixed;*/
    /*width: 250px;*/
    background: #eeeeee;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}

.laypreview {
    /*margin: 0 0 0 280px;*/
    padding: 10px;
}

.optionbox {
    background: #FFF;
    padding: 10px;
}

.optionbox h2 {
    border-bottom: solid 1px #CCC;
    font-size: 18px;
    font-weight: normal;
    padding: 0 10px 8px;
    margin: 0 -10px 10px
}

.optionbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.optionbox li {
    padding: 0 0 10px
}

.optionbox ul label {
    display: block;
}

.optionbox h3 {
    border-bottom: solid 1px #CCC;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 8px;
    margin: 0 -10px 10px
}

.show-grid .row {
    margin-bottom: 10px
}

.show-grid [class^=gridcol] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: center;
}

.preview-grid {
    position: relative
}

.preview-grid .row {
    margin-bottom: 10px
}

.preview-grid [class^=gridcol] .content {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
    text-align: center;
}

.gridruls [class^=gridcol] .content {
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    height: 5000px;
}

.gridruls {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 15px;
    overflow: hidden;
}